@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Roboto+Mono&display=swap');
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: hsl(337 81% 68%);

}
::-webkit-scrollbar-thumb{
    background: hsl(120 0% 50% /1);
    border-radius: 75vw;
}
body, html{
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}
body{
    background: url("/blurry-gradient-haikei.png") fixed;
    background-size: cover;
    overflow-x: hidden;
}